.map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .map-container {
    width: 1000px;
    height: 546px;
  }
  .nav-control,
  .geolocate-control {
    margin: 10px 0 0 10px;
  }
}
.mapboxgl-ctrl-scale {
  position: absolute;
  margin-left: 100px !important;
}
