@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.nav {
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .title {
    margin-left: 14px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 35px;
  }
  .menu {
    background-color: #c4c4c4;
    margin-left: 58px;
    border-radius: 10px;
    .menu-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 16px 13px;
      .link {
        text-decoration: none;
        height: 100%;
        li {
          color: black;
          font-family: Roboto;
          font-weight: 500;
          height: 100%;
        }
      }
    }
    .menu-list :not(:last-child) {
      padding-right: 60px;
    }
  }
}
